.position {
  text-align: center;
  margin-top: 90px;
  margin-left: -62px;
  transform: scaleX(-1);
  zoom: 3;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

//donphanScene
.scene {
  width: 100%;
  height: 100%;
  background-color: red;
  background: url(/images/fog-effect.png) repeat #45280F;
  background-position: 0 121px;
  -webkit-animation: loader 4s steps(100) infinite;
  -moz-animation: loader 4s steps(100) infinite;
  -ms-animation: loader 4s steps(100) infinite;
  -o-animation: loader 4s steps(100) infinite;
  animation: loader 4s steps(100) infinite;
}

@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}

.borderTop {
  background-color: #000;
  z-index: 999;
  height: 50%;
  width: 650px;
  position: absolute;
  left: 0;
  top: 0;
  animation: openCloseTop 3s ease forwards;
}

@keyframes openCloseTop {
  0% {
    height: 80%;
  }
  20% {
    height: 50%;
  }
  80% {
    height: 50%;
  }
  100% {
    height: 80%;
  }
}

.borderBottom {
  background-color: #000;
  z-index: 999;
  height: 50%;
  width: 650px;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: openCloseBottom 3s ease forwards;
}

@keyframes openCloseBottom {
  0% {
    height: 50%;
  }
  20% {
    height: 10%;
  }
  80% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}
