.cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  z-index: 99999;
  top: 50px; left: 50px;
  cursor: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.floatingAround{
  position: absolute;
  z-index: 999999;
  display: block;
}
