.page{
  background: url(/images/main-menu.png) no-repeat #68791D;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: none;
}

.textContainer{
  font-size: 9px;
}

.textContainerIcon{
  position: absolute;
  bottom: 32px;
  left: 32px;
  z-index: 4;
}

.textContainerTitle{
  position: absolute;
  background: rgb(241,195,255);
  background: radial-gradient(circle, rgba(241,195,255,1) 0%, rgba(179,133,193,1) 34%, rgba(148,102,162,1) 92%);
  bottom: 90px;
  left: 64px;
  width: 178px;
  height: 26px;
  z-index: 3;
  border: 4px solid;
  font-size: 10px;
  text-align: left;
  padding-left: 26px;
  padding-top: 6px
}

.textContainerDescription{
  position: absolute;
  bottom: 31px;
  left: 64px;
  width: 502px;
  height: 49px;
  z-index: 2;
  border: 4px solid;
  text-align: left;
  padding-left: 26px;
  padding-top: 6px;
  background: rgb(56,150,100);
  background: radial-gradient(circle, rgba(56,150,100,1) 0%, rgba(102,254,175,1) 100%);
}

