.page{
  background: url(/images/title01.png) no-repeat #68791D;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.title{
  zoom: 2;
  margin: 10px auto;
}

.pressStart{
  margin: 180px auto;
  display: block;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
