* {
  font-family: 'Press Start 2P', cursive;
}
body {
  font-family: 'Open Sans';
}

html, body {
  height: 100%;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
  border: 1px solid blue;
}

.flex-item {
  background: #000;
  padding: 5px;
  max-width: 640px;
  max-height: 480px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  background: #000;
}

@media only screen and (min-width: 640px) {
  .flex-item {
    width: 640px;
    height: 480px;
  }
}

@media only screen and (max-width: 640px) {
  body{
    zoom: 0.5;
  }
  .flex-item {
    * {
    }
    width: 640px;
    height: 480px;
  }
}

.cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 99999;
}
